:root {
  --color-black: #171717;
  --color-grey: #444444;
  --color-light: #ededed;
  --color-accent: #da0037;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

::selection {
  background-color: var(--color-accent);
  color: white;
}

.App {
  text-align: center;
}

.App-container {
  text-align: center;
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: var(--color-black);
}

.centeredFlex {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#name-title {
  color: var(--color-black);
  font-weight:bold;
  font-size: 32px;
  margin-top: 6px;
}


/*--- Main Container ---*/
.main-container {
  background-color: var(--color-light);
  min-height: 100vh;
  width: 800px;
  color:var(--color-black);

}


/*--- Navigation Bar ---*/
#navbar {
  width:100%;
  height: auto;
}

#navbar .h3 {
  color: var(--color-grey)
}

#navbarcontent {
  height: 100%;
  margin: 0px 45px;
  padding-bottom: 15px;
}

#profile-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:auto;
}

.profile-img {
  border-radius: 50%;
  border: 6px solid var(--color-light);
  background-image: url('./img/profile.jpg');
  background-size: cover;
  height: 140px;
  width: 140px;
}
.profile-img:hover {
  border: 6px solid var(--color-grey);
}

#header-line {
  border: 2px solid var(--color-black);
  width: 240px;
  margin: 20px auto;

}

.selected {
  font-weight: 500;
}

/*--- Nav bar Links ---*/
#nav-bar-links {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 25px 0;
}

.nav-links {
  font-size: 22px;
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

a.nav-link {
  color: #979797;
}

a.nav-link:hover {
  color: var(--color-accent);
  font-weight: 500;
}

a.nav-link::before {
  display: block;
  content: attr(title);
  font-weight: 500;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/*---Nav Menu ---*/
#nav-menu-container {
  margin-top: 15px;
  margin-bottom: 25px;
}

#nav-menu-span {
  width: 80px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.nav-menu {
  height: 8.5em; /*unit should be related to number of pages*/
  overflow: visible;
  transition: all 0.3s ease-out;
}

.closed {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.menu-arrow {
  margin-top: 2px;
  transition: all 0.3s ease-out;
}

.rotate {
  transition: all 0.3s ease-out;
  transform: rotate(90deg);
  margin-top: 0;
  margin-left: 2px;
}

a.navmenu-link {
  display: block;
  color: #979797;
  padding-bottom: 4px;
}

a.navmenu-link:hover {
  color: var(--color-accent);
  font-weight: 500;
}


/*=============RESPONSIVE============*/

@media only screen and (max-width: 768px) {
  .App-container {
    width:100vw;
  }

  .main-container {
    width:100%;
  }

  #nav-menu-span, #nav-menu {
    font-size: 16px;
  }

  #nav-menu a {
    margin-bottom: 2px;
  }

}