:root {
  --color-black: #171717;
  --color-grey: #444444;
  --color-light: #ededed;
  --color-accent: #da0037;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-container {
  text-align: center;
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-black);
}

.centeredFlex {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--color-grey);
  font-weight:bold;
  font-size: 22px;
  margin: 0;
}


/*--- Main Container ---*/
.main-container {
  background-color: var(--color-light);
  min-height: 100vh;
  min-width: 800px;
}

.main-container p {
  color:var(--color-black);
}

/*--- Navigation Bar ---*/
#navbar {
  width:100%;
  height: auto;
}

#navbar .h3 {
  color: var(--color-grey)
}

#navbarcontent {
  height: 100%;
  margin: 0px 45px;
  padding-bottom: 15px;
}

#profile-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:auto;
}

.profile-img {
  border-radius: 50%;
  border: 6px solid var(--color-light);
  background-image: url('./img/profile.jpg');
  background-size: cover;
  height: 140px;
  width: 140px;
}
.profile-img:hover {
  border: 6px solid var(--color-grey);
}

#header-line {
  border: 2px solid var(--color-black);
  width: 240px;
  margin: 20px auto;
}

/*--- Nav bar Links ---*/
#nav-bar-links {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 25px 0;
}

.nav-links {
  font-size: 22px;
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

a.nav-link {
  color: #979797;
}

a.nav-link:hover {
  color: var(--color-accent);
  font-weight: 500;
}

a.nav-link::before {
  display: block;
  content: attr(title);
  font-weight: 500;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}


/*=============RESPONSIVE============*/

@media only screen and (max-width: 768px) {
  .main-container {
    width: 100%;
  }
}